$font: 'https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap';

$colorError: #d56e48;
$colorInfo: #2b898b;
$colorPrimary: #2e4c5e;

:export {
    font: $font;
    colorError: $colorError;
    colorInfo: $colorInfo;
    colorPrimary: $colorPrimary
}